[flake8]
; Ignore line length and the non-PEP8 compliant boolean operator before line break
ignore = E501, W503
; Beanie uses == None in queries, so this occures in the tests, ignore the error:
per-file-ignores = tests/*:E711