[tool.poetry]
name = "beanie"
version = "1.11.0"
description = "Asynchronous Python ODM for MongoDB"
authors = ["Roman <roman-right@protonmail.com>"]
license = "Apache-2.0"
homepage = "https://roman-right.github.io/beanie/"
repository = "https://github.com/roman-right/beanie"
keywords = ["mongodb", "odm", "orm", "pydantic", "mongo", "async", "python"]
include = [
    "LICENSE",
    "beanie/py.typed"
]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
pydantic = ">=1.9.0"
motor = "^2.5"
click = ">=7"
toml = "*"
yarl = ">=1.6"

[tool.poetry.dev-dependencies]
pre-commit = "^2.3.0"
pytest = "^6.0.0"
pytest-aiohttp = "^0.3.0"
pytest-cov = "^2.8.1"
Pygments = "^2.8.0"
dnspython = "^2.1.0"
mkdocs-material = "^7.1.0"
pydoc-markdown = ">=3"
flake8 = ">=3"
pyright = ">=0"
mkdocs = "1.1"
icecream = "^2.1.1"
jinja2 = "3.0.3"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.black]
line-length = 79
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--cov-report term-missing --cov=beanie --cov-branch --cov-fail-under=85"
testpaths = [
    "tests",
]
filterwarnings = [
    "error",
    "ignore::DeprecationWarning",
    "ignore::UserWarning",
]

[tool.poetry.scripts]
beanie = "beanie.executors.migrate:migrations"

[tool.beanie.migrations]
path = "beanie/example_migration"
database_name = "beanie_db"

[tool.mypy]
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "toml"
ignore_missing_imports = true

[tool.pyright]
include = ["tests/typing", "beanie"]