[tool.poetry]
name = "beanie"
version = "0.4.0"
description = "Asynchronous Python ODM for MongoDB"
authors = ["Roman <roman-right@protonmail.com>"]
license = "Apache-2.0"
homepage = "https://github.com/roman-right/beanie"
repository = "https://github.com/roman-right/beanie"
keywords = ["mongo", "mongodb", "pydantic", "odm"]
include = [
    "LICENSE",
]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
pydantic = "^1.8"
motor = "^2.1.0"
click = "^7.1.2"
toml = "^0.10.2"

[tool.poetry.dev-dependencies]
pre-commit = "^2.3.0"
pytest = "^5.4.2"
pytest-aiohttp = "^0.3.0"
pytest-cov = "^2.8.1"
Pygments = "^2.8.0"
dnspython = "^2.1.0"
mkdocs-material = "^7.1.0"
pydoc-markdown = "^3.10.1"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.black]
line-length = 79
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q --cov-report term-missing --cov=beanie"
testpaths = [
    "tests",
    "integration",
]
filterwarnings = [
    "error",
    "ignore::UserWarning",
    "ignore::DeprecationWarning",
    'ignore:function ham\(\) is deprecated:DeprecationWarning',
]

[tool.poetry.scripts]
beanie = "beanie.executors.migrate:migrations"

[tool.beanie.migrations]
path = "beanie/example_migration"
database_name = "beanie_db"
