[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "beanie"
version = "1.20.0b1"
description = "Asynchronous Python ODM for MongoDB"
readme = "README.md"
requires-python = ">=3.7,<4.0"
license = { file="LICENSE" }
authors = [
    {name = "Roman Right", email = "roman-right@protonmail.com"}
]
keywords = ["mongodb", "odm", "orm", "pydantic", "mongo", "async", "python"]
classifiers = [
    "License :: OSI Approved :: Apache Software License",
]
dependencies = [
    "pydantic>=1.10.0,<2.0.0",
    "motor>=2.5.0,<4.0.0",
    "click>=7",
    "toml",
    "lazy-model>=0.0.3"
]

[project.optional-dependencies]
test = [
    "pre-commit>=2.3.0",
    "pytest>=6.0.0",
    "pytest-asyncio>=0.21.0",
    "pytest-cov>=2.8.1",
    "dnspython>=2.1.0",
    "flake8>=3",
    "pyright>=0",
    "fastapi>=0.78.0",
    "asgi-lifespan>=1.0.1",
    "httpx>=0.23.0"
]
doc = [
    "Pygments>=2.8.0",
    "Markdown>=3.3",
    "pydoc-markdown==4.6",
    "mkdocs>=1.4",
    "mkdocs-material>=9.0",
    "jinja2>=3.0.3"
]
queue = ["beanie-batteries-queue>=0.0.1"]

[project.urls]
homepage = "https://roman-right.github.io/beanie/"
repository = "https://github.com/roman-right/beanie"

[project.scripts]
beanie = "beanie.executors.migrate:migrations"

# TOOLS

[tool.black]
line-length = 79
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--cov-report term-missing --cov=beanie --cov-branch --cov-fail-under=85"
testpaths = [
    "tests",
]
filterwarnings = [
    "error",
    "ignore::DeprecationWarning",
    "ignore::UserWarning",
]
asyncio_mode = "auto"

[tool.beanie.migrations]
path = "beanie/example_migration"
database_name = "beanie_db"

[tool.mypy]
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "toml"
ignore_missing_imports = true

[tool.pyright]
include = ["tests/typing", "beanie"]

[tool.ruff]
line-length = 79

# Enable Pyflakes `E` and `F` codes by default.
select = ["E", "F"]
ignore = ["E501"]

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
]

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

# Assume Python 3.10.
target-version = "py310"

[tool.ruff.per-file-ignores]
"tests/*" = ["E711"]

[tool.ruff.mccabe]
# Unlike Flake8, default to a complexity level of 10.
max-complexity = 10