name: Publish docs
on:
  # push:
  #   branches:
  #     - main

  # Disables the workflow and allows only manual trigger
  workflow_dispatch:

jobs:
  publish_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up uv wih Python 3.13.9
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.13.9"
      - name: Install dependencies
        run: uv sync --group doc --frozen
      - name: Publish docs
        run: uv run -- bash scripts/publish_docs.sh
