name: Publish docs
on:
  push:
    branches:
      - main
jobs:
  publish_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: install poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: 1.2
      - name: install dependencies
        run: poetry install
      - name: publish docs
        run: bash scripts/publish_docs.sh