name: Tests
on: [ pull_request ]

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.7, 3.8, 3.9, 3.10.9, 3.11 ]
        mongodb-version: [ 4.4, 5.0 ]
        pydantic-version: [ 1.10.0 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
          mongodb-replica-set: test-rs
      - name: install dependencies
        run: pip install .[test]
      - name: specify pydantic
        run: pip3 install pydantic==${{ matrix.pydantic-version }}
      - name: run tests
        run: pytest
