name: Publish project
on:
  push:
    branches:
      - main
jobs:
  publish_project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.10.5
      - name: install poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: 1.2
      - name: install dependencies
        run: poetry install
      - name: publish project
        run: poetry publish --build --username __token__ --password ${{ secrets.PYPI_TOKEN }}