name: Tests
on: [ pull_request ]

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.6, 3.7, 3.8, 3.9 ]
        poetry-version: [ 1.1.4 ]
        mongodb-version: [ 4.4 ]
        pydantic-version: [1.5, 1.6, 1.7, 1.8]
        os: [ ubuntu-18.04 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
          mongodb-replica-set: test-rs
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: poetry install
        run: poetry install
      - name: specify pydantic
        run: poetry add pydantic==${{ matrix.pydantic-version }}
      - name: run tests
        run: poetry run pytest
